.breadcrumb {
    margin: 2px 0;
    line-height: 29px;
}

.breadcrumb ul, .breadcrumb li {
    list-style: none;
}

.breadcrumb ul {
    display: flex;
    padding: 12px 0;
    margin: 0;
    color: #6c757d;
}

.breadcrumb li {
    height: 29px;
}

.breadcrumb li.sep {
    padding: 0 5px;
}

.breadcrumb li a {
    color: #007bff;
}

.forum-box {
    border: 1px solid #CDCDCD;
    margin-bottom: 15px;
}

.forum-box .forum-header {
    padding: 0 10px;
    height: 31px;
    line-height: 31px;
    border-bottom: 1px solid #c2d5e3;
    background-color: #e5edf2;
    white-space: nowrap;
    overflow: hidden;
    color: #369;
}

.forum-box .forum-header span.sep {
    color: #928484;
    padding: 0 5px;
}

.forum-box .forum-header span.sep-long {
    color: #928484;
    padding: 0 10px;
}

.forum-box .forum-header a.forum-order-link {
    color: #007CD5;
}

.forum-box .forum-header span.forum-order-link {
    color: #333;
}

.forum-box .forum-admin-list {
    line-height: 18px;
    padding: 10px;
    border-bottom: 1px dashed #ab9b9b;
}

.forum-box .forum-admin-list a {
    color: #369;
}

.forum-box .forum-intro {
    padding: 10px;
}

.forum-box .forum-intro p {
    margin: 0;
}

.forum-box .forum-topic-list {
    padding: 0 10px;
}

.forum-box .forum-topic-list .topic-list {
    width: 100%;
}

.forum-box .forum-topic-list .topic-list tr td {
    height: 28px;
    padding: 5px 0;
    overflow: hidden;
    border-bottom: 1px dashed #dedede;
}

.forum-box .forum-topic-list .topic-list tr:last-child td {
    border-bottom: none;
}

.forum-box .forum-topic-list .topic-list td.topic-node-icon {
    width: 17px;
    padding-left: 8px;
    padding-right: 8px;
}

.forum-box .forum-topic-list .topic-list td.topic-node-title a {
    font-size: 15px;
}

.forum-box .forum-topic-list .topic-list td.topic-node-title a.topic-node-type,
.forum-box .forum-topic-list .topic-list td.topic-node-title span {
    color: #007CD5;
}

.forum-box .forum-topic-list .topic-list td.topic-node-author,
.forum-box .forum-topic-list .topic-list td.topic-node-count,
.forum-box .forum-topic-list .topic-list td.topic-node-last-post {
    line-height: 14px;
}

.forum-box .forum-topic-list .topic-list td.topic-node-author > a,
.forum-box .forum-topic-list .topic-list td.topic-node-count > a,
.forum-box .forum-topic-list .topic-list td.topic-node-last-post > a {
    color: #333;
    display: block;
}

.forum-box .forum-topic-list .topic-list td.topic-node-author > span,
.forum-box .forum-topic-list .topic-list td.topic-node-count > span,
.forum-box .forum-topic-list .topic-list td.topic-node-last-post > span {
    display: block;
    color: #999;
}

.forum-box .forum-topic-list .topic-list td.topic-node-author {
    width: 105px;
}

.forum-box .forum-topic-list .topic-list td.topic-node-count {
    width: 60px;
}

.forum-box .forum-topic-list .topic-list td.topic-node-last-post {
    width: 105px;
}

.from-topic-types ul, .from-topic-types li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.from-topic-types ul {
    margin-bottom: 5px;
    padding-top: 10px;
}

.from-topic-types ul:after {
    display: block;
    content: "";
    clear: both;
}

.from-topic-types li {
    float: left;
    padding-bottom: 5px;
}

.from-topic-types li > a, .from-topic-types li > span {
    margin-right: 5px;
    padding: 4px 8px 3px;
    height: 18px;
    border: 1px solid #CDCDCD;
    background: #FFF;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    float: left;
}

.from-topic-types li > a:hover, .from-topic-types li > span {
    border-color: #369;
    color: #369;
}

.from-topic-types li > span {
    background: #E5EDF2;
}

.from-topic-types li span.num {
    background: #999;
    padding: 0 5px;
    margin-left: 5px;
    border-radius: 3px;
    color: #FFF;
}

.from-topic-types li > span span.num {
    background: #91BDD3;
}

.forum-head-nav {
    display: block;
    height: 36px;
    position: relative;
}

.forum-head-nav .post-btn {
    position: absolute;
    display: block;
    height: 34px;
    line-height: 34px;
    padding: 0 18px;
    border: 1px solid #eee;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}

.forum-head-nav .post-btn:hover {
    background-color: #269f42;
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
}
