/*分页样式*/
.pagination {
    height: 36px;
    line-height: 36px;
    text-align: right;
    overflow: hidden;
}

.pagination > span, .pagination > a {
    padding: 3px 8px;
    margin: 2px;
    color: #888;
    border: 1px solid #ccf;
    border-radius: 12px;
}

.pagination > .pagination-btn:hover, .pagination > .pagination-item:hover, .pagination > .pagination-item-current {
    border: 1px solid #FA983F;
    color: #F53B24;
    text-decoration: none;
}

.pagination > .pagination-item-current {
    font-weight: bolder;
}
