.topic-title-edit .types-warp {
    float: left;
    padding-right: 10px;
}

.topic-title-edit .title-warp {
    float: left;
}

.topic-title-edit select,
.topic-title-edit input {
    height: 20px;
    line-height: 20px;
    padding: 6px 12px;
    border: 1px solid #d1d5da;
    font-size: 14px;
    box-sizing: content-box;
    display: block;
}

.topic-title-edit input {
    width: 30em;
}

.topic-title-edit select.error,
.topic-title-edit input.error {
    border-color: red;
}

.topic-content-edit {
    margin-top: 15px;
}

.topic-content-edit textarea {
    width: 100%;
    min-height: 500px;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    resize: none;
}

.topic-content-edit textarea.error {
    border-color: red;
}

.topic-btns {
    margin-top: 15px;
}

.topic-btns button {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #0062cc;
    border: 1px solid #005cbf;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.topic-btns button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
