/*帖子内页*/
.forum-topic-warp {
    border: 1px solid #cdcdcd;
    margin-bottom: 10px;
}

.forum-topic-warp table.post-list {
    width: 100%;
    empty-cells: show;
    border-collapse: collapse;
}

.forum-topic-warp table.post-list tr td {
    padding: 0 20px;
    vertical-align: top;
}

.forum-topic-warp table.post-list tr:first-child td {
    vertical-align: middle;
}

.forum-topic-warp table.post-list tr:last-child td {
    border-bottom: none;
}

.forum-topic-warp table.post-list tr td.left-side {
    width: 160px;
    background: #E5EDF2;
    overflow: hidden;
    border-right: 1px solid #C2D5E3;
    padding-left: 0;
    padding-right: 0;
}

.forum-topic-warp table.post-list tr td.sep1 {
    height: 4px;
    background-color: #c2d5e3;
    border-right: 1px solid #C2D5E3;
}

.forum-topic-warp table.post-list tr td.sep2 {
    height: 4px;
    background-color: #e5edf2;
}

.forum-topic-warp table.post-list tr td.action-nav-warp {
    opacity: 0.2;
}

.forum-topic-warp table.post-list tr td.action-nav-warp:hover {
    opacity: 1;
}

.forum-topic-warp table.post-list tr td .action-nav {
    border-top: 1px dashed #cdcdcd;
    line-height: 36px;
}

.forum-topic-warp table.post-list tr td .action-nav:after {
    display: block;
    content: "";
    clear: both;
}

.forum-topic-warp table.post-list tr td .action-item {
    float: left;
}

.forum-topic-warp table.post-list tr td .action-item a {
    padding: 5px 5px 5px 30px;
}

.forum-topic-warp table.post-list tr td .action-item a.action-reply {
    background: url("../images/default/action_reply.gif") no-repeat 6px;
}

.forum-topic-warp table.post-list tr td .action-item a.action-like {
    background: url("../images/default/action_like.gif") no-repeat 6px;
}

.forum-topic-warp table.post-list tr td .action-item a.action-notlike {
    background: url("../images/default/action_notlike.gif") no-repeat 6px;
}

.forum-topic-warp table.post-list tr td.left-side .topic-info {
    text-align: center;
    padding: 5px 0;
}

.forum-topic-warp table.post-list tr td.left-side .topic-info .t-text {
    color: #999;
}

.forum-topic-warp table.post-list tr td.left-side .topic-info .t-sep {
    margin: 0 5px;
    color: #CCC;
}

.forum-topic-warp table.post-list tr td.left-side .topic-info .t-num {
    color: #F26C4F;
}

.forum-topic-warp .topic-title h1,
.forum-topic-warp .topic-title span,
.forum-topic-warp .topic-title a {
    display: inline;
    font: 700 16px 'Microsoft Yahei', 'Hei', Tahoma, 'SimHei', sans-serif;
}

.forum-topic-warp .topic-title a.topic-type-link {
    color: #007CD5;
}

.forum-topic-warp .author-info .author-nickname {
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
    height: 16px;
    border-bottom: 1px dashed #CDCDCD;
}

.forum-topic-warp .author-info .author-nickname a {
    font-weight: 700;
}

.forum-topic-warp .author-info .author-avatar {
    padding-bottom: 10px;
}

.forum-topic-warp .author-info .author-avatar a {
    padding: 5px 5px 8px 5px;
    width: 120px;
    height: 120px;
    background-color: #fff;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    box-shadow: 0px 2px 3px #d4d4d4;
}

.forum-topic-warp .author-info .author-avatar a img {
    width: 100%;
    height: 100%;
}

.forum-topic-warp .post-detail .post-meta {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px 0;
    height: 16px;
    border-bottom: 1px dashed #cdcdcd;
}

.forum-topic-warp .post-detail .post-meta a.floor-num {
    float: right;
    margin-top: -6px;
    padding: 4px 6px;
    border: 1px solid #FFF;
    font-weight: 400;
    display: block;
}

.forum-topic-warp .post-detail .post-meta a.floor-num:hover {
    border-color: #CDCDCD;
}

.forum-topic-warp .post-detail .post-meta a.floor-num em {
    font-style: normal;
}

.forum-topic-warp .post-detail .post-meta a.floor-num span {
    font-weight: bold;
}

.forum-topic-warp .post-detail .post-modify-tip {
    display: block;
    font-size: 12px;
    text-align: center;
    font-style: normal;
    line-height: 32px;
    color: #999;
}

.forum-topic-warp .post-detail .post-content {
    font-size: 14px;
    word-wrap: break-word;
    color: #444444;
}

.forum-topic-warp .post-detail .post-disbaled,
.forum-topic-warp .post-detail .post-locked {
    overflow: hidden;
    margin: 10px 0;
    padding: 8px 8px 8px 30px;
    border: 1px dashed #FF9A9A;
    background: #FFF url(../images/default/topic_icon_lock.png) no-repeat 6px;
    font-size: 12px;
    color: red;
    zoom: 1;
}

.forum-topic-warp .post-detail .post-locked {
    border-color: #d8c947;
    color: #666;
}

.forum-topic-warp .author-info > p,
.forum-topic-warp .author-info > .user-meta {
    margin: 5px 10px 5px 20px;
}

.forum-topic-warp .author-info .user-meta:after {
    display: block;
    content: "";
    clear: both;
}

.forum-topic-warp .author-info .user-meta dt,
.forum-topic-warp .author-info .user-meta dd {
    float: left;
    height: 19px;
    line-height: 19px;
}

.forum-topic-warp .author-info .user-meta dt {
    margin-right: 4px;
    width: 63px;
}

.forum-topic-warp .author-info .user-meta dd {
    margin: 0;
    width: 63px;
}

.forum-topic-warp .author-info .author-posts {
    padding: 0 10px 10px 10px;
}

.forum-topic-warp .author-info .author-posts table {
    empty-cells: show;
    border-collapse: collapse;
    width: 100%;
}

.forum-topic-warp .author-info .author-posts table td {
    padding: 0;
    text-align: center;
    border-right: 1px solid #CCC;
}

.forum-topic-warp .author-info .author-posts table tr td:last-child {
    border-right: none;
}

.forum-topic-warp .author-info .author-posts table td a {
    display: block;
    color: #369;
}

.forum-topic-warp .author-info .author-posts table td p {
    padding: 0;
    color: #666666;
    margin: 0;
}

.forum-topic-warp .author-info > p a.send-msg {
    display: block;
    padding-left: 18px;
    background: url("../images/default/send_msg.gif") no-repeat;
    height: 16px;
    line-height: 16px;
    color: #369;
    margin-top: 10px;
}

.topic-reply-btns {
    padding-bottom: 5px;
}

.topic-reply-btns .btns {
    display: block;
    float: left;
}

.topic-reply-btns .btns a {
    width: 77px;
    height: 33px;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #419ae0;
    text-align: center;
    display: inline-block;
    line-height: 33px;
    font-size: 15px;
    color: #fff;
    border: 1px solid #437aa5;
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 2px 2px 2px #ccc;
}

.topic-reply-btns .btns a:hover {
    background: #1387e2;
    border-color: #456a9c;
}

.dialog {
    position: fixed;
    empty-cells: show;
    border-collapse: collapse;
    padding: 0;
}

.dialog .dialog-border {
    background-color: #000;
    opacity: 0.2;
    height: 8px;
    cursor: move;
}

.dialog .dialog-border.b-topleft,
.dialog .dialog-border.b-topright,
.dialog .dialog-border.b-bottomleft,
.dialog .dialog-border.b-bottomright {
    width: 8px;
}

.dialog .dialog-border.b-topleft {
    border-radius: 8px 0 0 0;
}

.dialog .dialog-border.b-topright {
    border-radius: 0 8px 0 0;
}

.dialog .dialog-border.b-bottomleft {
    border-radius: 0 0 0 8px;
}

.dialog .dialog-border.b-bottomright {
    border-radius: 0 0 8px 0;
}

.dialog .dialog-border.b-left,
.dialog .dialog-border.b-right {
    height: auto;
    width: 8px;
    padding: 0;
}

.dialog.reply-dialog .dialog-warp {
    width: 602px;
    background-color: #fff;
    position: relative;
    padding: 0 10px 10px 10px;
}

.dialog.reply-dialog .dialog-warp a.dialog-close-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    background-image: url("../images/default/dialog_close.png");
}

.dialog.reply-dialog .dialog-warp a.dialog-close-icon:hover {
    background-position: 0 -20px;
}

.dialog.reply-dialog .dialog-warp h3 {
    margin: 0;
    padding: 10px 10px 8px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #369;
    cursor: move;
}

.dialog.reply-dialog .dialog-warp .reply-edit {
    height: 137px;
    border: 1px solid #ccc;
    padding: 8px;
}

.dialog.reply-dialog .dialog-warp .reply-edit textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
}

.dialog.reply-dialog .dialog-warp .reply-captcha {
    margin-top: 10px;
    position: relative;
    line-height: 18px;
}

.dialog.reply-dialog .dialog-warp .reply-captcha input {
    width: 100px;
    height: 17px;
    padding: 2px 4px;
    line-height: 17px;
    border: 1px solid;
    border-color: #848484 #E0E0E0 #E0E0E0 #848484;
}

.dialog.reply-dialog .dialog-warp .reply-captcha a {
    color: #369;
}

.dialog.reply-dialog .dialog-warp .reply-captcha .reply-captcha-warp {
    position: absolute;
    z-index: 301;
    left: 40px;
    top: 22px;
    background-color: #FEFEFE;
    width: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 1px 2px 2px #ece3e3;
}

.dialog.reply-dialog .dialog-warp .reply-captcha .reply-captcha-warp img {
    max-height: 40px;
    cursor: pointer;
}

.dialog.reply-dialog .dialog-footer {
    padding: 8px 10px;
    height: 26px;
    text-align: right;
    border-top: 1px solid #CCC;
    background: #F2F2F2;
}

.dialog.reply-dialog .dialog-footer .dialog-btn {
    border: 1px solid #235994;
    background-color: #2a73c3;
    float: left;
    color: #fff;
    padding: 0 10px;
    height: 23px;
    cursor: pointer;
    margin-right: 3px;
}

.dialog.reply-dialog .dialog-footer .dialog-btn:hover {
    background-color: #147ef1;
}
